/* fonts */
$font-syne: Syne;
$font-poppins: Poppins;
$font-roboto: Roboto;
$font-baloo-bhai: 'Baloo Bhai';

/* font sizes */
$font-size-2xs-5: 10.5px;
$font-size-xs-2: 11.2px;
$font-size-xs: 11.5px;
$font-size-sm: 13px;
$font-size-sm-5: 13.5px;
$font-size-mini: 15px;
$font-size-base: 15px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-3xl: 22px;
$font-size-3xl-4: 22.4px;
$font-size-4xl-9: 23.9px;
$font-size-9xl-4: 28.4px;

/* Colors */
$white: #ffffff;
$color-gray-100: #8e8e94;
$color-gray-400: #1e1f23;
$color-gray-600: #121213;
$color-gray-200: #0f0f0f;
$color-gray-500: rgba(30, 31, 35, 0.2);
$color-gray-300: rgba(0, 0, 0, 0.87);
$color-fuchsia: #de33ff;
$color-darkslategray-100: #424242;
$color-darkslategray-200: #3a3c42;
$color-darkslategray-300: #303030;
$color-darkslategray-400: #2b2c30;
$color-darkgray-100: #a1a1af;
$color-darkgray: #999;
$color-dimgray: #616161;
$color-dimgray-100: #5e5e6a;
$primary-contrast: #fff;
$color-orange: #f99a0e;
$color-whitesmoke: #eaeaea;
$color-cornflowerblue-100: #1262af;
$color-cornflowerblue-200: #1262ae;
$color-gainsboro-100: #e0e0e0;
$color-gainsboro-200: rgba(226, 226, 226, 0.1);
$color-lavender: #ccdcec;
$color-silver: #bdbdbd;

/* Gaps */
$gap-3xs: 10px;
$gap-lgi: 19px;
$gap-9xl: 28px;
$gap-base: 16px;
$gap-mini: 15px;
$gap-3xl-4: 22.4px;
$gap-5xs-5: 7.5px;
$gap-mid-2: 17.2px;
$gap-4xs-2: 8.2px;
$gap-8xs-5: 4.5px;
$gap-mid-9: 17.9px;
$gap-10xs-2: 2.2px;
$gap-7xl-9: 26.9px;
$gap-7xs: 6px;
$gap-xs: 12px;
$gap-14xl: 33px;
$gap-smi: 13px;
$gap-5xs: 8px;
$gap-81xl: 100px;
$gap-6xl: 25px;
$gap-4xs: 9px;
$gap-69xl: 88px;
$gap-2xs: 11px;
$gap-11xs: 2px;
$gap-9xs: 4px;
$gap-11xl: 30px;

/* Paddings */
$padding-xl: 20px;
$padding-7xs: 6px;
$padding-6xs: 7px;
$padding-2xs: 11px;
$padding-base: 16px;
$padding-9xs: 4px;
$padding-7xl: 26px;
$padding-6xl: 25px;
$padding-mid: 17px;
$padding-3xl: 22px;
$padding-21xl: 40px;
$padding-5xl: 24px;
$padding-11xl: 30px;
$padding-mini: 15px;
$padding-base-4: 16.4px;
$padding-40xl-8: 59.8px;
$padding-4xs: 9px;
$padding-xs-2: 11.2px;
$padding-3xs-7: 9.7px;
$padding-xs: 12px;
$padding-9xs-7: 3.7px;
$padding-10xs: 3px;
$padding-10xs-2: 2.2px;
$padding-8xs-5: 4.5px;
$padding-12xs: 1px;
$padding-3xs: 10px;

/* border radiuses */
$br-10xs: 3px;
$br-8xs: 5px;
$br-5xs-5: 7.5px;
$br-5xs: 8px;
$br-4xs-6: 8.6px;
$br-4xs: 9px;
$br-3xs: 10px;
$br-xs: 12px;
$br-xl: 20px;
$br-4xl-2: 23.2px;
$br-28xl-8: 47.8px;

/* Effects */
$glow-3: 5px -5px 20px rgba(207, 52, 255, 0.15);